    

    <div class="container" width="25%">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="container update-loan" 
            ngModelGroup="updateLoanData"
            #updateLoanData="ngModelGroup">
            <span style="color:blue;font-weight:bold"> {{msg}}</span>
                <div class="container pt-3">
                <div class="col-xs-4 col-sm-5"> 
                    <input type="text" class="form-control" placeholder="Loan Number" 
                    name="loanNumber" 
                    [(ngModel)]="loanDetails.loanNumber"
                    required
                  />
                </div>
                <br>
                <div class="col-xs-4 col-sm-5">
                    <input type="text" class="form-control" placeholder="loan Type" 
                    [(ngModel)]="loanDetails.loanType"
                    name="loanType" 
                    #loanType="ngModel" 
                    required
                    [class.is-invalid]="loanType.invalid && loanType.touched" />
                    <small class="text-danger" [class.d-none] ="loanType.valid || loanType.untouched"> LoanType is required field</small>
                </div>
                <br>
                <div class="col-xs-4 col-sm-5">
                    <input type="text" class="form-control" placeholder="loan Amount" 
                    [(ngModel)]="loanDetails.amount"
                    name="amount" 
                    #amount="ngModel" 
                    required
                    [class.is-invalid]="amount.invalid && amount.touched" />
                    <small class="text-danger" [class.d-none] ="amount.valid || amount.untouched"> Amount is required field</small>    
                </div>
                <br>
                <div class="col-xs-4 col-sm-5">
                    <input type="text" class="form-control" placeholder="loan Term" 
                    [(ngModel)]="loanDetails.loanTerm"
                    name="loanTerm" 
                    #loanTerm="ngModel" 
                    required
                    [class.is-invalid]="loanTerm.invalid && loanTerm.touched" />
                    <small class="text-danger" [class.d-none] ="loanTerm.valid || loanTerm.untouched"> Loan Term is required field</small>    


    
                </div>
                <br>
                
                <div class="col-xs-4 col-sm-5">
                    <button class="btn btn-primary" type="submit"  >Update Loan</button>
                </div>                
                
                </div>
            </div>
        </form>
    </div>
