

    
  
<div class="container" width="25%">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container Search" 
        ngModelGroup="searchData"
        #searchData="ngModelGroup">

        <div>
          <div class="col-xs-4 col-sm-5">
            <input type="text" class="form-control" placeholder="first name" 
            ngModel 
            name="firstName" 
            
            #firstname="ngModel" />
          </div>
          <div class="col-xs-4 col-sm-5">
            
            <input type="text" class="form-control" placeholder="last name" 
            ngModel 
            name="lastName" 
            #lastName="ngModel" />
          </div>

          <div class="col-xs-4 col-sm-5">
            <input type="text" class="form-control" placeholder="loan number" 
            ngModel 
            name="loanNumber" 
            #loanNumber="ngModel" />
          </div>
          <div class="col-xs-4 col-sm-5">
            <button class="btn btn-primary" type="submit"  >Search</button>
            <a [routerLink]="">Admin User</a>
          
          </div>
            
            
        </div>
        </div>
        <div>
            <br>
        </div>
        
        
        
        <router-outlet></router-outlet>